USE [master]
GO
/****** Object:  Database [Diego]    Script Date: 6/12/2021 2:38:15 PM ******/
CREATE DATABASE [Diego]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diego]
GO
/****** Object:  Table [dbo].[SpaCentro_m20191007]    Script Date: 6/12/2021 2:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaCentro_m20191007](
	[id] [varchar](50) NULL,
	[Sexo] [varchar](50) NULL,
	[ingresos] [varchar](50) NULL,
	[PromVisit] [varchar](50) NULL,
	[Edad] [varchar](50) NULL,
	[Sauna] [varchar](50) NULL,
	[Masaje] [varchar](50) NULL,
	[Hidro] [varchar](50) NULL,
	[Yoga] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaEscalon_i20191007]    Script Date: 6/12/2021 2:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaEscalon_i20191007](
	[id] [varchar](50) NULL,
	[Sexo] [varchar](50) NULL,
	[ingresos] [varchar](50) NULL,
	[PromVisit] [varchar](50) NULL,
	[Edad] [varchar](50) NULL,
	[Sauna] [varchar](50) NULL,
	[Masaje] [varchar](50) NULL,
	[Hidro] [varchar](50) NULL,
	[Yoga] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaSantaTecla_m20191007]    Script Date: 6/12/2021 2:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaSantaTecla_m20191007](
	[id] [varchar](50) NULL,
	[Sexo] [varchar](50) NULL,
	[ingresos] [varchar](50) NULL,
	[PromVisit] [varchar](50) NULL,
	[Edad] [varchar](50) NULL,
	[Sauna] [varchar](50) NULL,
	[Masaje] [varchar](50) NULL,
	[Hidro] [varchar](50) NULL,
	[Yoga] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SpaCentro_m20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Tomkin Stickles', N'1', N'2555.23', N'1.94', N'21', N'1', N'1', N'0', N'0')
INSERT [dbo].[SpaCentro_m20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Tyson Stovine', N'1', N'2476.87', N'5.83', N'29', N'1', N'1', N'0', N'1')
INSERT [dbo].[SpaCentro_m20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Miller Carnachen', N'1', N'1209.36', N'6.07', N'23', N'1', N'0', N'0', N'0')
INSERT [dbo].[SpaEscalon_i20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Leoline Dofty', N'1', N'1150.52', N'1.79', N'35', N'0', N'0', N'1', N'1')
INSERT [dbo].[SpaEscalon_i20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Angelita Jaquemar', N'1', N'1458.84', N'2.82', N'36', N'1', N'1', N'0', N'1')
INSERT [dbo].[SpaEscalon_i20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Drugi Enriquez', N'0', N'1748.80', N'3.70', N'63', N'1', N'1', N'1', N'0')
GO
INSERT [dbo].[SpaSantaTecla_m20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Cynthy Crich', N'0', N'1175.45', N'6.88', N'50', N'1', N'1', N'0', N'1')
INSERT [dbo].[SpaSantaTecla_m20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Felicle Biglin', N'0', N'2956.11', N'6.08', N'32', N'0', N'1', N'0', N'1')
INSERT [dbo].[SpaSantaTecla_m20191007] ([id], [Sexo], [ingresos], [PromVisit], [Edad], [Sauna], [Masaje], [Hidro], [Yoga]) VALUES (N'Carey Billington', N'0', N'2454.94', N'3.27', N'25', N'1', N'1', N'1', N'1')
GO
USE [master]
GO
