USE [master]
GO
/****** Object:  Database [Fiorella]    Script Date: 6/12/2021 2:36:44 PM ******/
CREATE DATABASE [Fiorella]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fiorella].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fiorella]
GO
/****** Object:  Table [dbo].[SanMiguel_j20191007]    Script Date: 6/12/2021 2:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanMiguel_j20191007](
	[id] [varchar](50) NULL,
	[Rosas] [varchar](50) NULL,
	[Claveles] [varchar](50) NULL,
	[Macetas] [varchar](50) NULL,
	[Tierra] [varchar](50) NULL,
	[Girasoles] [varchar](50) NULL,
	[Hortensia] [varchar](50) NULL,
	[Globos] [varchar](50) NULL,
	[Tarjetas] [varchar](50) NULL,
	[Orquideas] [varchar](50) NULL,
	[Carmesi] [varchar](50) NULL,
	[Lirios] [varchar](50) NULL,
	[Aurora] [varchar](50) NULL,
	[Tulipanes] [varchar](50) NULL,
	[Liston] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanSalvador_i20191007]    Script Date: 6/12/2021 2:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanSalvador_i20191007](
	[id] [varchar](50) NULL,
	[Rosas] [varchar](50) NULL,
	[Claveles] [varchar](50) NULL,
	[Macetas] [varchar](50) NULL,
	[Tierra] [varchar](50) NULL,
	[Girasoles] [varchar](50) NULL,
	[Hortensia] [varchar](50) NULL,
	[Globos] [varchar](50) NULL,
	[Tarjetas] [varchar](50) NULL,
	[Orquideas] [varchar](50) NULL,
	[Carmesi] [varchar](50) NULL,
	[Lirios] [varchar](50) NULL,
	[Aurora] [varchar](50) NULL,
	[Tulipanes] [varchar](50) NULL,
	[Liston] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SantaAna_c20191007]    Script Date: 6/12/2021 2:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SantaAna_c20191007](
	[id] [varchar](50) NULL,
	[Rosas] [varchar](50) NULL,
	[Claveles] [varchar](50) NULL,
	[Macetas] [varchar](50) NULL,
	[Tierra] [varchar](50) NULL,
	[Girasoles] [varchar](50) NULL,
	[Hortensia] [varchar](50) NULL,
	[Globos] [varchar](50) NULL,
	[Tarjetas] [varchar](50) NULL,
	[Orquideas] [varchar](50) NULL,
	[Carmesi] [varchar](50) NULL,
	[Lirios] [varchar](50) NULL,
	[Aurora] [varchar](50) NULL,
	[Tulipanes] [varchar](50) NULL,
	[Liston] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SanMiguel_j20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Egon Greenhead', N'1', N'0', N'0', N'0', N'1', N'1', N'1', N'0', N'0', N'0', N'1', N'0', N'0', N'1')
INSERT [dbo].[SanMiguel_j20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Elita Borles', N'1', N'0', N'0', N'0', N'1', N'1', N'0', N'0', N'0', N'1', N'1', N'0', N'1', N'1')
INSERT [dbo].[SanMiguel_j20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Kingsly Yerrell', N'1', N'1', N'0', N'0', N'1', N'1', N'1', N'1', N'1', N'1', N'1', N'1', N'0', N'1')
GO
INSERT [dbo].[SanSalvador_i20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Loren Pritty', N'1', N'0', N'1', N'1', N'0', N'0', N'1', N'1', N'1', N'1', N'1', N'1', N'1', N'0')
INSERT [dbo].[SanSalvador_i20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Curran Lackey', N'1', N'1', N'1', N'1', N'0', N'0', N'0', N'1', N'1', N'1', N'0', N'0', N'1', N'1')
INSERT [dbo].[SanSalvador_i20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Marietta Luff', N'1', N'1', N'0', N'1', N'0', N'0', N'1', N'1', N'1', N'1', N'0', N'0', N'1', N'1')
GO
INSERT [dbo].[SantaAna_c20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Blake Farrell', N'0', N'0', N'1', N'0', N'1', N'1', N'1', N'0', N'1', N'1', N'0', N'1', N'1', N'1')
INSERT [dbo].[SantaAna_c20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Guendolen Hundey', N'0', N'0', N'0', N'0', N'1', N'0', N'0', N'1', N'1', N'0', N'0', N'1', N'1', N'0')
INSERT [dbo].[SantaAna_c20191007] ([id], [Rosas], [Claveles], [Macetas], [Tierra], [Girasoles], [Hortensia], [Globos], [Tarjetas], [Orquideas], [Carmesi], [Lirios], [Aurora], [Tulipanes], [Liston]) VALUES (N'Georgiana Turmell', N'0', N'1', N'0', N'0', N'1', N'1', N'0', N'1', N'0', N'1', N'0', N'1', N'0', N'0')
GO
USE [master]
GO
